.interests {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.allInterests {
  width: 70vw;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  padding-bottom: 6rem;
}

.each-interest {
  text-align: center;
}
.img-interests {
  width: 5rem;
}

@media only screen and (max-width: 600px) {
  .allInterests {
    width: 70vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    padding-bottom: 6rem;
  }
}
