.project {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 285px;
  overflow-wrap: anywhere;

}

.project h1 {
  margin-top: 215px;
  color: #b5838d;
  font-size: 35px;
}
.project img {
  width: 700px;
  border-radius: 10px;
}

.project p {
  font-size: 25px;
  color: #b5838d;
}

.project svg {
  font-size: 60px;
  color: #b5838d;
}

.githubIcon {
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .project {
    margin-bottom: 7rem;

  }

  .project h1 {
    text-align: center;
    margin-top: 3rem;
  }

  .project img {
    width: 21rem;
    border-radius: 10px;
  }

  .project p {
    width: 20rem;
  }
}
