.project {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 285px;
  overflow-wrap: anywhere;
  color: #b5838d;
}

.projectWithOutImage {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-wrap: anywhere;
  color: #b5838d;
  margin: 0 auto;
}

.project .main-title {
  margin-top: 215px;
  font-size: 35px;
}

.projectWithOutImage .title {
  margin-top: 0px;
}

.projectWithOutImage .progress {
  margin: 50px auto;
  display: flex;
  align-items: center;
}

.project img {
  width: 700px;
  border-radius: 10px;
}

.project p,
.projectWithOutImage p {
  font-size: 25px;
  color: #b5838d;
}

.project svg,
.projectWithOutImage svg {
  font-size: 60px;
  color: #b5838d;
}

.githubIcon {
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .project {
    margin-bottom: 7rem;
  }

  .project h1 {
    text-align: center;
    margin-top: 3rem;
  }

  .project img {
    width: 21rem;
    border-radius: 10px;
  }

  .project p {
    width: 20rem;
  }
}
